{% extends 'admin/base.html' %}
{% set title = '用户信息' %}
{% block style %}
  <link rel="stylesheet"
        href="{{ url_for('static', filename='plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css') }}">
{% endblock %}
{% block content %}
  <form method="POST">
    <div class="card-body">
      {% for i in g.user_info.keys() %}
        <div class="form-group">
          <label for="{{ i }}">{{ i }}</label>
          <input name="{{ i }}" class="form-control" id="{{ i }}" value="{{ g.user_info[i] if g.user_info[i] }}" placeholder="{{ i if not g.user_info[i] }}" {{ 'disabled' if i in immutable_info }}>
        </div>
      {% endfor %}
    </div>
    <!-- /.card-body -->
    <div class="card-footer">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
{% endblock %}
{% block script %}
  <script src="{{ url_for('static', filename='plugins/sweetalert2/sweetalert2.min.js') }}"></script>
  <script>
    var Toast = Swal.mixin({
        toast: true,
        position: 'top-end',
        showConfirmButton: false,
        timer: 3000
      });
  </script>
  {% for message in get_flashed_messages(with_categories=True, category_filter=('success')) %}
    <script>
    Toast.fire({
        icon: '{{ message[0] }}',
        title: '{{ message[1] }}'
      })
    </script>
  {% endfor %}
{% endblock %}
