{% extends 'admin/base.html' %}
{% set title = '用户信息' %}
{% block content %}
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <!-- left column -->
        <div class="col-md-6">
          <!-- general form elements -->
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">修改信息</h3>
            </div>
            <form method="POST">
              <div class="card-body">
                {% for i in table['user_info'].keys() %}
                  <div class="form-group">
                    <label for="{{ i }}">{{ i }}</label>
                    <input name="{{ i }}" class="form-control" id="{{ i }}" value="{{ table['user_info'][i] if table['user_info'][i] }}" placeholder="{{ i if not table['user_info'][i] }}" {{ 'disabled' if i in immutable_columns }} {{ 'type='+input_types[i] if i in input_types }}>
                  </div>
                {% endfor %}
              </div>
              <input name="table" value="user_info" hidden>
              <!-- /.card-body -->
              <div class="card-footer">
                <button type="submit" class="btn btn-success">保存</button>
                <button type="reset" class="btn btn-default float-right">取消</button>
              </div>
            </form>
          </div>
        </div>
        <div class="col-md-6">
          <!-- general form elements -->
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">修改密码</h3>
            </div>
            <form method="POST">
              <div class="card-body">
                {% for i in table['user'].keys() %}
                  <div class="form-group">
                    <label for="{{ i }}">{{ i }}</label>
                    <input name="{{ i }}" class="form-control" id="{{ i }}" value="{{ table['user'][i] if table['user'][i] }}" placeholder="{{ i if not table['user'][i] }}" {{ 'disabled' if i in immutable_columns }} {{ 'type='+input_types[i] if i in input_types }}>
                  </div>
                {% endfor %}
                <div class="form-group">
                  <label for="确认密码">确认密码</label>
                  <input name="确认密码"
                         class="form-control"
                         id="确认密码"
                         placeholder="确认密码"
                         type="password">
                </div>
              </div>
              <input name="table" value="user" hidden>
              <!-- /.card-body -->
              <div class="card-footer">
                <button type="submit" class="btn btn-success">保存</button>
                <button type="reset" class="btn btn-default float-right">取消</button>
              </div>
            </form>
          </div>
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
  {% endblock %}
