{% extends 'admin/base.html' %}
{% set title = '控制面板' %}
{% block content %}
  <section class="content">
    <div class="container-fluid">
      <!-- Small boxes (Stat box) -->
      <div class="row">
        <div class="col-lg-3 col-6">
          <!-- small box -->
          <div class="small-box bg-secondary">
            <div class="inner">
              <h3>{{ table['部门数量'] }}</h3>
              <p>部门</p>
            </div>
            <div class="icon">
              <i class="fas fa-building"></i>
            </div>
            <a href="/retrieve/部门信息表" class="small-box-footer">更多信息 <i class="fas fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
          <!-- small box -->
          <div class="small-box bg-primary">
            <div class="inner">
              <h3>{{ table['员工数量'] }}</h3>
              <p>员工</p>
            </div>
            <div class="icon">
              <i class="fas fa-users"></i>
            </div>
            <a href="/retrieve/员工基本信息表" class="small-box-footer">更多信息 <i class="fas fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
          <!-- small box -->
          <div class="small-box bg-info">
            <div class="inner">
              <h3>{{ table['计发工资'] }}<sup style="font-size: 20px">￥</sup></h3>
              <p>计发工资</p>
            </div>
            <div class="icon">
              <i class="fas fa-user"></i>
            </div>
            <a href="/retrieve/工资计发信息表" class="small-box-footer">更多信息 <i class="fas fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
          <!-- small box -->
          <div class="small-box bg-success">
            <div class="inner">
              <h3>
                {{ table['考勤率'] }}<sup style="font-size: 20px">%</sup>
              </h3>
              <p>考勤率</p>
            </div>
            <div class="icon">
              <i class="fas fa-check"></i>
            </div>
            <a href="/retrieve/考勤考核信息表" class="small-box-footer">更多信息 <i class="fas fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>
{% endblock %}
