<nav class="mt-2">
  <ul class="nav nav-pills nav-sidebar flex-column"
      data-widget="treeview"
      role="menu"
      data-accordion="false">
    <!-- Add icons to the links using the .nav-icon class
       with font-awesome or any other icon font library -->
    <li class="nav-item">
      <a href="/" class="nav-link {{ 'active' if request.path == '/' }}">
        <i class="nav-icon fas fa-tachometer-alt"></i>
        <p>控制面板</p>
      </a>
    </li>
    <li class="nav-item">
      <a href="/user/modify"
         class="nav-link {{ 'active' if request.path == '/user/modify' }}">
        <i class="fas fa-user nav-icon"></i>
        <p>用户信息</p>
      </a>
    </li>
    <li class="nav-item">
      <a href="/user/password"
         class="nav-link {{ 'active' if request.path == '/user/password' }}">
        <i class="fas fa-user nav-icon"></i>
        <p>修改密码</p>
      </a>
    </li>
  </ul>
</nav>
