<nav class="mt-2">
  <ul class="nav nav-pills nav-sidebar flex-column"
      data-widget="treeview"
      role="menu"
      data-accordion="false">
    <!-- Add icons to the links using the .nav-icon class
       with font-awesome or any other icon font library -->
       {% set 控制面板 = ['', '职工职务视图', '职工职称视图'] %}
       <li class="nav-item menu-{{ 'open' if request.path.split('/')[-1] in 控制面板 else 'close' }}">
         <a href="#" class="nav-link {{ 'active' if request.path.split('/')[-1] in 控制面板 }}">
           <i class="nav-icon fas fa-tachometer-alt"></i>
           <p>
             控制面板
             <i class="right fas fa-angle-left"></i>
           </p>
         </a>
         <ul class="nav nav-treeview">
           <li class="nav-item">
             <a href="/" class="nav-link {{ 'active' if request.path == '/' }}">
               <i class="fas fa-chart-pie nav-icon"></i>
               <p>首页</p>
             </a>
           </li>
         </ul>
         <ul class="nav nav-treeview">
          <li class="nav-item">
            <a href="/retrieve/职工职务视图" class="nav-link {{ 'active' if '职工职务视图' in request.path }}">
              <i class="fas fa-chart-bar nav-icon"></i>
              <p>职工职务信息</p>
            </a>
          </li>
        </ul>
        <ul class="nav nav-treeview">
          <li class="nav-item">
            <a href="/retrieve/职工职称视图" class="nav-link {{ 'active' if '职工职称视图' in request.path }}">
              <i class="fas fa-chart-line nav-icon"></i>
              <p>职工职称信息</p>
            </a>
          </li>
        </ul>
       </li>
    {% set 部门管理 = ['部门信息表', '职务信息表'] %}
    <li class="nav-item menu-{{ 'open' if request.path.split('/')[-1] in 部门管理 else 'close' }}">
      <a href="#" class="nav-link {{ 'active' if request.path.split('/')[-1] in 部门管理 }}">
        <i class="nav-icon fas fa-building"></i>
        <p>
          部门管理
          <i class="right fas fa-angle-left"></i>
        </p>
      </a>
      <ul class="nav nav-treeview">
        <li class="nav-item">
          <a href="/retrieve/部门信息表" class="nav-link {{ 'active' if '部门信息表' in request.path }}">
            <i class="fas fa-sitemap nav-icon"></i>
            <p>部门信息管理</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/retrieve/职务信息表" class="nav-link {{ 'active' if '职务信息表' in request.path }}">
            <i class="fas fa-user-md nav-icon"></i>
            <p>部门职务管理</p>
          </a>
        </li>
      </ul>
    </li>
    {% set 职工管理 = ['职工信息表', '职工职务表', '职工职称表', '职工奖惩表', '职工家庭表', '学习经历表', '工作经历表'] %}
    <li class="nav-item menu-{{ 'open' if request.path.split('/')[-1] in 职工管理 else 'close' }}">
      <a href="#" class="nav-link {{ 'active' if request.path.split('/')[-1] in 职工管理 }}">
        <i class="nav-icon fas fa-user-cog"></i>
        <p>
          职工管理
          <i class="right fas fa-angle-left"></i>
        </p>
      </a>
      <ul class="nav nav-treeview">
        <li class="nav-item">
          <a href="/retrieve/职工信息表" class="nav-link {{ 'active' if '职工信息表' in request.path }}">
            <i class="fas fa-user-edit nav-icon"></i>
            <p>职工信息管理</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/retrieve/职工职务表" class="nav-link {{ 'active' if '职工职务表' in request.path }}">
            <i class="fas fa-id-badge nav-icon"></i>
            <p>职工职务管理</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/retrieve/职工职称表" class="nav-link {{ 'active' if '职工职称表' in request.path }}">
            <i class="fas fa-id-card nav-icon"></i>
            <p>职工职称管理</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/retrieve/学习经历表" class="nav-link {{ 'active' if '学习经历表' in request.path }}">
            <i class="nav-icon fas fa-users-cog"></i>
            <p>学习经历管理</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/retrieve/工作经历表" class="nav-link {{ 'active' if '工作经历表' in request.path }}">
            <i class="nav-icon fas fa-users-cog"></i>
            <p>工作经历管理</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/retrieve/职工家庭表" class="nav-link {{ 'active' if '职工家庭表' in request.path }}">
            <i class="nav-icon fas fa-users-cog"></i>
            <p>职工家庭管理</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/retrieve/职工奖惩表" class="nav-link {{ 'active' if '职工奖惩表' in request.path }}">
            <i class="nav-icon fas fa-credit-card"></i>
            <p>职工奖惩管理</p>
          </a>
        </li>
      </ul>
    </li>
    <li class="nav-item">
      <a href="/retrieve/职称信息表" class="nav-link {{ 'active' if '职称信息表' in request.path }}">
        <i class="nav-icon fas fa-address-book"></i>
        <p>职称管理</p>
      </a>
    </li>
  </ul>
</nav>
